/* Essentials */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* body */

body {
    background-color: lightgray;
}

.site_header {
    background-color: royalblue;
}

.sidebar {
    width: 25%;
    float: left;
    background-color: pink;
}

.main_content {
    width: 60%;
    background-color: saddlebrown;
}